.tdl-container {
    width: 80%;
    margin: auto;
}

.not-found-text {
    text-align: center;
    font-family: system-ui, sans-serif;
    font-size: 2rem;
    font-weight: bold;
    line-height: 1.1;
}
